// @import "variables.styl"
// тут оформляется input and form components
*
	box-sizing: border-box
	font-family: Tahoma
	letter-spacing 0px
	outline 0
	font-size 16px
	box-sizing border-box
	letter-spacing 0px
	color #111111


.white
	color: white
.italic
	font-style: italic
.ib
	display: inline-block
