div(style="display: none")
	#lead
		.modal-title
		.modal-form
			form(action="?sandlead.php")
				.table
					.row
						.cell
							label.modal-input
								.modal-input-title Оставьте свой телефон…
								.modal-input-field
									input.phones(type="text")
						.cell.btns
							.modal-input
								button.btn.btn-red Позвоните мне
		.modal-text.
			Мы не рассылаем спам и не ведем назойливых рассылок. #[br]
			Ваши данные никогда не попадут третим лицам. #[a.linkprivacy.fancybox(href="#linkprivacy") Политика конфиденциальности]
