//- подключаем шаблон
extends /layouts/layout.jade


//- Описывам контен
//content start
block content

	.block-5
		.pralax
		.wrap
			.block-5-title.h1.white Сэкономьте свое время и нервы с помощью FindYourCar!
			.block-5-text.
				Мы берем 7000 рублей и 25% от сторгованной суммы.#[br]
				За эти деньги мы полностью подбираем для вас автомобиль.
				#[i.white.italic Никаких предоплат] — услугу вы оплачиваете только 
				при подписании ДКП.#[br]
				Благодаря профессиональному торгу, #[i.white.italic в 90% случаев услуги оказываются бесплатными.]
			.block-5-price
				.block-5-price-big.
					7000
					#[img.svg-rouble(src="")]
				.block-5-price-text.
					+25% от торга. Без предоплаты.#[br]
					#[i.white.italic в 90% случаев - бесплатно.]
				.block-5-price-btn
					a.btn.btn-red(href="#") Закажите подбор авто прямо сейчас!
	.block-6
		.block-6-img
			img(src="")
		.wrap
			.block-6-title.h1 Уже нашли автомобиль?
			.block-6-text
				p.
					Не верьте продавцу на слово. Мы приедем и проверим этот автомобиль нашим оборудованием. Проверим кузов, электрику и электронику, системы безопасности 
					и документы, расскажем о всех достоинствах
					и преимуществах.
				p.
					Такая проверка будет стоить всего 1500 рублей.
					Кроме того, всего за 1000 рублей можно заказать юридическую проверку чистоты удаленно!
			.block-6-btn
				a.btn.btn-red(href="#") Хочу получить помощь эксперта


	.block-7
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.block-7-ava
						.block-7-img
							img(src="")
						.block-7-username Дмитрий Головачев
					.block-7-text.
						Александр, спасибо Вам за помощь в подборе авто. Хороший сервис, все оперативно и без лишних движений. Удачных Вам клиентов и хорошего развития. Благодарю.
					.block-7-carinfo
						.table
							.row
								.cell.block-7-carinfo-text
									.block-7-carinfo-text-title #[b Pegeout Boxer]
									.block-7-carinfo-text-text 2008 г., 85 т.км, 2.2, механика Выгода — 30 000Р
								.cell.block-7-carinfo-price  #[b5444 Р]
				.swiper-slide
					.block-7-ava
						.block-7-img
							img(src="")
						.block-7-username Дмитрий Головачев
					.block-7-text.
						Александр, спасибо Вам за помощь в подборе авто. Хороший сервис, все оперативно и без лишних движений. Удачных Вам клиентов и хорошего развития. Благодарю.
					.block-7-carinfo
						.table
							.row
								.cell.block-7-carinfo-text
									.block-7-carinfo-text-title #[b Pegeout Boxer]
									.block-7-carinfo-text-text 2008 г., 85 т.км, 2.2, механика Выгода — 30 000Р
								.cell.block-7-carinfo-price  #[b5444 Р]
				.swiper-slide
					.block-7-ava
						.block-7-img
							img(src="")
						.block-7-username Дмитрий Головачев
					.block-7-text.
						Александр, спасибо Вам за помощь в подборе авто. Хороший сервис, все оперативно и без лишних движений. Удачных Вам клиентов и хорошего развития. Благодарю.
					.block-7-carinfo
						.table
							.row
								.cell.block-7-carinfo-text
									.block-7-carinfo-text-title #[b Pegeout Boxer]
									.block-7-carinfo-text-text 2008 г., 85 т.км, 2.2, механика Выгода — 30 000Р
								.cell.block-7-carinfo-price  #[b5444 Р]
				.swiper-slide
					.block-7-ava
						.block-7-img
							img(src="")
						.block-7-username Дмитрий Головачев
					.block-7-text.
						Александр, спасибо Вам за помощь в подборе авто. Хороший сервис, все оперативно и без лишних движений. Удачных Вам клиентов и хорошего развития. Благодарю.
					.block-7-carinfo
						.table
							.row
								.cell.block-7-carinfo-text
									.block-7-carinfo-text-title #[b Pegeout Boxer]
									.block-7-carinfo-text-text 2008 г., 85 т.км, 2.2, механика Выгода — 30 000Р
								.cell.block-7-carinfo-price  #[b5444 Р]
				.swiper-slide
					.block-7-ava
						.block-7-img
							img(src="")
						.block-7-username Дмитрий Головачев
					.block-7-text.
						Александр, спасибо Вам за помощь в подборе авто. Хороший сервис, все оперативно и без лишних движений. Удачных Вам клиентов и хорошего развития. Благодарю.
					.block-7-carinfo
						.table
							.row
								.cell.block-7-carinfo-text
									.block-7-carinfo-text-title #[b Pegeout Boxer]
									.block-7-carinfo-text-text 2008 г., 85 т.км, 2.2, механика Выгода — 30 000Р
								.cell.block-7-carinfo-price  #[b5444 Р]
				.swiper-slide
					.block-7-ava
						.block-7-img
							img(src="")
						.block-7-username Дмитрий Головачев
					.block-7-text.
						Александр, спасибо Вам за помощь в подборе авто. Хороший сервис, все оперативно и без лишних движений. Удачных Вам клиентов и хорошего развития. Благодарю.
					.block-7-carinfo
						.table
							.row
								.cell.block-7-carinfo-text
									.block-7-carinfo-text-title #[b Pegeout Boxer]
									.block-7-carinfo-text-text 2008 г., 85 т.км, 2.2, механика Выгода — 30 000Р
								.cell.block-7-carinfo-price  #[b5444 Р]

				// Add Pagination
		.wrap
			.swiper-button-next.swiper-button-white
			.swiper-button-prev.swiper-button-white

	.block-8
		.pralax
		.wrap
			.h1.white.block-8-title Не тратьте свое время на покупку авто.
			.block-8-btns
				a.btn.btn-red(href="#") Хочу поговорить с экспертом
				a.btn.btn-blue(href="#") Наша группа Вконтакте
				a.link.white #[span Политика конфиденциальности]
