*, :after, :before
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0
	padding 0
	box-sizing: border-box
	font-family: Tahoma
	letter-spacing 0px
	outline 0
	font-size 16px
	box-sizing border-box
	letter-spacing 0px
	color #111111


.wrap
	min-width 1020px
	max-width 1020px
	width 100%
	height 100vh
	position relative
	margin: auto
	text-align center
#index

.flex
	display: flex;
	height 100vh
	justify-content: center
	align-items: center
	counter-reset: flexitem
	&-boubles
		text-align center
		.clone
			position absolute
			background: rgba(0, 0, 255, 0.4) !important
			border: 1px solid transparent  !important
			color rgba(255, 255, 255, 1) !important
			width: 50px;
			height: 50px;
			line-height 48px
			margin-left -3px
			margin-top -5px
			&:after
				content: ''
				display: none
				color: rgba(0,0,0,0)
	&-console
		position absolute
		left 0
		top 0
		padding: 20px;
		text-align left
		opacity: .3;
		.flex-info-items, .flex-info-items b
			font-size: 14px;
			line-height 16px
	&-item
		width: 40px;
		margin-left 2px
		margin-right 2px
		border-radius: 50%
		height: 40px;
		border: 1px solid rgba(0, 0, 255, 0.4)
		line-height 38px
		transition-duration: .100s
		transition-property: background
		&.sort-completed
			transition-property: border
			border: 1px solid rgba(0, 255, 55, 0.38)
			background: rgba(0, 255, 55, 0.38)
			color rgba(0, 0, 255, 0.4)
		&.sort-class
			background: rgba(0, 0, 255, 0)
			color rgba(0, 0, 255, 0)
