
<header id="header" class="header">
	<div class="wrap">
		<div class="header-logo"><img src=""/></div>
		<div class="header-table table">
			<ul class="row">
				<li class="cell"><a href="#index" class="scroll-link">О FINDYOURCAR</a></li>
				<li class="cell"><a href="#КакМыРаботаем" class="scroll-link">Как мы работаем</a></li>
				<li class="cell"><a href="#Особенности" class="scroll-link">Особенности</a></li>
				<li class="cell"><a href="#Стоимость" class="scroll-link">Стоимость</a></li>
				<li class="cell"><a href="#СпециалистНаВыезд" class="scroll-link">Специалист на выезд</a></li>
				<li class="cell"><a href="#Отзывы" class="scroll-link">Отзывы</a></li>
			</ul>
		</div>
		<div class="header-btn"><a href="#" class="btn btn-red">Пообщаться с экспертом</a></div>
	</div>
</header>