
<header id="header" class="header">
	<div class="wrap">
		<div class="header-logo"><img src=""/></div>
		<div class="header-table">
			<ul class="row">
				<li class="cell"><a href="#О FINDYOURCAR">О FINDYOURCAR</a></li>
				<li class="cell"><a href="#Как мы работаем">Как мы работаем</a></li>
				<li class="cell"><a href="#Особенности">Особенности</a></li>
				<li class="cell"><a href="#Стоимость">Стоимость</a></li>
				<li class="cell"><a href="#Специалист на выезд">Специалист на выезд</a></li>
				<li class="cell"><a href="#Отзывы">Отзывы</a></li>
			</ul>
		</div>
		<div class="header-btn"><a href="#" class="btn btn-red">Пообщаться с экспертом</a></div>
	</div>
</header>