<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection">
		<title>Order</title>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700">
		<link rel="stylesheet" href="/assets/css/css.css">
		<!--if lt IE 9
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		-->
	</head>
	<body>
		<div id="page" class="page">
			<header id="header" class="header">
				<div class="wrap">
					<div class="table w100">
						<div class="row">
							<div class="header-logo cell"><a href="#index" class="scroll-link"><img src="/assets/img/icons/Logo.svg" width="174" height="34" alt=""></a></div>
							<div class="header-table cell">
								<div class="underline"></div>
								<div class="table w100">
									<ul class="row">
										<li class="cell"><a href="#index" class="scroll-link">О FINDYOURCAR</a></li>
										<li class="cell"><a href="#КакМыРаботаем" class="scroll-link">Как мы работаем</a></li>
										<li class="cell"><a href="#Особенности" class="scroll-link">Особенности</a></li>
										<li class="cell"><a href="#Стоимость" class="scroll-link">Стоимость</a></li>
										<li class="cell"><a href="#СпециалистНаВыезд" class="scroll-link">Специалист на выезд</a></li>
										<li class="cell"><a href="#Отзывы" class="scroll-link">Отзывы</a></li>
									</ul>
								</div>
							</div>
							<div class="header-btn cell"><a href="#lead" class="btn btn-red fancybox">Пообщаться с экспертом</a></div>
						</div>
					</div>
				</div>
			</header>
			<section id="content" class="content">
			</section>
		</div>
		<div style="display: none"><a href="#comeback" class="fancybox"></a><a href="#privacy" class="fancybox"></a><a id="thx-modal" href="#thx" class="fancybox"></a>
			<script>
				(function(){
					window.onload = function(){
						$(document).on('submit','#lead-from', function(e){
							e.preventDefault();
							$.ajax({
								method: 'post',
								url: this.action,
								data: {tel: $(this).find('[type=tel]').val()},
							}).done(function(){
								$('#thx-modal').click();
								setTimeout(function(){
									$.fancybox.close();
								}, 3000);
							})
						});
					}
				})();
				
				
				
				
			</script>
			<div id="lead"><a href="#" class="close-fancy"></a>
				<div class="table">
					<div class="row">
						<div class="cell">
							<div class="innercell">
								<div class="modal-title">Мы перезвоним вам и обговорим все детали</div>
								<div class="modal-form">
									<form id="lead-from" action="?sandlead.php">
										<div class="table">
											<div class="row">
												<div class="cell">
													<label class="modal-input">
														<div class="modal-input-title">Оставьте свой телефон…</div>
														<div class="modal-input-field">
															<input type="tel" required placeholder="+7 (999) 999 9999" class="phones">
														</div>
													</label>
												</div>
												<div class="cell btns">
													<div class="modal-input">
														<button class="btn btn-red">Позвоните мне</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-text">Мы не рассылаем спам и не ведем назойливых рассылок. <br>
									Ваши данные никогда не попадут третим лицам. <a href="#privacy" class="linkprivacy fancybox">Политика конфиденциальности</a>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="comeback" class="block-5 block-9"><a href="#" class="close-fancy"></a>
				<div class="wrap">
					<div class="block-5-title h1 white h1-line"><b>Постойте!</b></div>
					<div class="block-5-price">
						<div style=" padding-right: 10px;" class="block-5-price-big">
							<div id="vk_groups2" style=""></div>
						</div>
					</div>
					<div class="block-5-text">Мы не только можем подобрать Вам лучший автомобиль, но и <a target="_blank" href="https://vk.com/market-97655577?w=product-97655577_263309" class="under">дистанционно «пробить» авто по базам</a>, <a target="_blank" href="https://vk.com/market-97655577?w=product-97655577_222454" class="under">проверить ваш вариант</a>
						или <a target="_blank" href="https://vk.com/market-97655577?w=product-97655577_263284" class="under">сопроводить Вас в МРЭО</a>.<br>
						Так же, мы бесплатно консультируем всех желающих и публикуем рекомендации по покупке автомобиля с рук в <a target="_blank" href="https://vk.com/findyourcar" class="under">нашей группе Вконтакте</a>
					</div>
					<div style="padding-top: 40px; padding-left: 49px; padding-right: 10px;"><a href="#lead" class="btn btn-red fancybox">Закажите профессиональный подбор авто</a></div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div id="privacy" class="block-5 block-9"><a href="#" class="close-fancy"></a>
				<div class="wrap">
					<div class="block-5-title h1 white h1-line"><b>Рыбас!</b></div>
					<div class="block-5-text">Мы не только можем подобрать Вам лучший автомобиль, но и <a target="_blank" href="https://vk.com/market-97655577?w=product-97655577_263309" class="under">дистанционно «пробить» авто по базам, проверить ваш вариант</a>
						или <a target="_blank" href="https://vk.com/market-97655577?w=product-97655577_263284" class="under">сопроводить Вас в МРЭО</a>.<br>
						Так же, мы бесплатно консультируем всех желающих и публикуем рекомендации по покупке автомобиля с рук в <a target="_blank" href="https://vk.com/findyourcar" class="under">нашей группе Вконтакте</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div id="thx" class="block-5 block-9"><a href="#" class="close-fancy"></a>
				<div class="wrap">
					<div class="block-5-title h1 white h1-line"><b>Спсиос!</b></div>
					<div class="block-5-text">Мы не только можем подобрать Вам лучший автомобиль, но и <a target="_blank" href="" class="under">дистанционно «пробить» авто по базам, проверить ваш вариант</a>
						или <a target="_blank" href="" class="under">сопроводить Вас в МРЭО</a>.<br>
						Так же, мы бесплатно консультируем всех желающих и публикуем рекомендации по покупке автомобиля с рук в <a target="_blank" href="" class="under">нашей группе Вконтакте</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script><!-- import scripts -->
		<script src="/assets/js/app.min.js"></script>
		<script>
			(function(){
				var width = $('.block-9 .block-5-price').width(),
					_width = ( (width-60)>300 && $(window).width()<=1023 ) ? 300 : (width-60),
					options1 = {mode: 1, width: _width, height: "200", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'},
					options2 = {mode: 1, width: $(window).width()>768?_width-160:_width, height: "200", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'},
					GROUP_ID = 97655577;
			
				$(function(){
					VK.Widgets.Group("vk_groups",  options1, GROUP_ID);
					VK.Widgets.Group("vk_groups2", options2, GROUP_ID);
				});
			})();
		</script>
	</body>
</html>