<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<title>Order</title>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700">
		<link rel="stylesheet" href="/assets/css/css.css">
		<!--if lt IE 9
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		-->
	</head>
	<body>
		<div id="page" class="page">
			<header id="header" class="header">
				<div class="wrap">
					<div class="table w100">
						<div class="row">
							<div class="header-logo cell"><a href="#index" class="scroll-link"><img src="/assets/img/icons/Logo.svg" width="174" height="34"></a></div>
							<div class="header-table cell">
								<div class="table w100">
									<ul class="row">
										<li class="cell"><a href="#index" class="scroll-link">О FINDYOURCAR</a></li>
										<li class="cell"><a href="#КакМыРаботаем" class="scroll-link">Как мы работаем</a></li>
										<li class="cell"><a href="#Особенности" class="scroll-link">Особенности</a></li>
										<li class="cell"><a href="#Стоимость" class="scroll-link">Стоимость</a></li>
										<li class="cell"><a href="#СпециалистНаВыезд" class="scroll-link">Специалист на выезд</a></li>
										<li class="cell"><a href="#Отзывы" class="scroll-link">Отзывы</a></li>
									</ul>
								</div>
							</div>
							<div class="header-btn cell"><a href="#" class="btn btn-red">Пообщаться с экспертом</a></div>
						</div>
					</div>
				</div>
			</header>
			<section id="content" class="content">
			</section>
		</div><!-- import scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/assets/js/default_libs_script.min.js"></script>
		<script src="/assets/js/bbapp.min.js"></script>
	</body>
</html>