<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<title>Order</title>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700">
		<link rel="stylesheet" href="/assets/css/css.css">
		<!--if lt IE 9
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		-->
	</head>
	<body>
		<header id="header" class="header">
			<div class="wrap">
				<div class="header-logo"><img src=""></div>
				<div class="header-table table">
					<ul class="row">
						<li class="cell"><a href="#О FINDYOURCAR">О FINDYOURCAR</a></li>
						<li class="cell"><a href="#Как мы работаем">Как мы работаем</a></li>
						<li class="cell"><a href="#Особенности">Особенности</a></li>
						<li class="cell"><a href="#Стоимость">Стоимость</a></li>
						<li class="cell"><a href="#Специалист на выезд">Специалист на выезд</a></li>
						<li class="cell"><a href="#Отзывы">Отзывы</a></li>
					</ul>
				</div>
				<div class="header-btn"><a href="#" class="btn btn-red">Пообщаться с экспертом</a></div>
			</div>
		</header>
		<div id="page" class="page">
			<section id="content" class="content">
			</section>
		</div><!-- import scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/assets/js/default_libs_script.min.js"></script>
		<script src="/assets/js/bbapp.min.js"></script>
	</body>
</html>