
<div style="display: none">
	<div id="lead">
		<div class="modal-title"></div>
		<div class="modal-form">
			<form action="?sandlead.php">
				<div class="table">
					<div class="row">
						<div class="cell">
							<label class="modal-input">
								<div class="modal-input-title">Оставьте свой телефон…</div>
								<div class="modal-input-field">
									<input type="text" class="phones"/>
								</div>
							</label>
						</div>
						<div class="cell btns">
							<div class="modal-input">
								<button class="btn btn-red">Позвоните мне</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-text">Мы не рассылаем спам и не ведем назойливых рассылок. <br/>
			Ваши данные никогда не попадут третим лицам. <a href="#linkprivacy" class="linkprivacy fancybox">Политика конфиденциальности</a>
		</div>
	</div>
</div>