
<div style="display: none"><a href="#comeback" class="fancybox"></a>
	<div id="lead"><a href="#" class="close-fancy"></a>
		<div class="table">
			<div class="row">
				<div class="cell">
					<div class="innercell">
						<div class="modal-title">Мы перезвоним вам и обговорим все детали</div>
						<div class="modal-form">
							<form action="?sandlead.php">
								<div class="table">
									<div class="row">
										<div class="cell">
											<label class="modal-input">
												<div class="modal-input-title">Оставьте свой телефон…</div>
												<div class="modal-input-field">
													<input type="text" required="required" placeholder="+7 (999) 999 9999" class="phones"/>
												</div>
											</label>
										</div>
										<div class="cell btns">
											<div class="modal-input">
												<button class="btn btn-red">Позвоните мне</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-text">Мы не рассылаем спам и не ведем назойливых рассылок. <br/>
							Ваши данные никогда не попадут третим лицам. <a href="#linkprivacy" class="linkprivacy fancybox">Политика конфиденциальности</a>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="comeback" class="block-5 block-9"><a href="#" class="close-fancy"></a>
		<div class="wrap">
			<div class="block-5-title h1 white h1-line"><b>Постойте!</b></div>
			<div class="block-5-price">
				<div class="block-5-price-big">
					<div id="vk_groups2" style=""></div>
				</div>
			</div>
			<div class="block-5-text">Мы не только можем подобрать Вам лучший автомобиль, но и <b class="under">дистанционно «пробить» авто по базам, проверить ваш вариант</b>
				или <b class="under">сопроводить Вас в МРЭО</b>.<br/>
				Так же, мы бесплатно консультируем всех желающих и публикуем рекомендации по покупке автомобиля с рук в <b class="under">нашей группе Вконтакте</b>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>